<div class="container-fluid header-block">
  <div class="row">
    
    <div class="col-xs-3 col-sm-1">
      <br />
      <a href="#" id="menu-toggle" ng-click="vm.toggleMenu()"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
    </div>
    <div class="col-xs-9 col-sm-5">
      <h1 class="page-title" ng-bind-html="vm.title || 'Page Title'"></h1>
    </div>

    <div class="col-sm-4 title hidden-xs">
      Sample <b>Application</b><br />
      
    </div>
    <div class="col-sm-2 text-right hidden-xs">
      <img src="/assets/images/yeoman.png" class="pull-right img-responsive" alt="Grindrod" />
    </div>
  </div>
</div>
